body {
    background-color: #1F2937;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: whitesmoke;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    color: #4ADF86;
    display: block;
}

.never {
    color: #D5D4D8;
    margin-right: 10px;
}

#generate {
    background-color: #10B981;
    color: white;
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}

hr {
    color: whitesmoke;
    width: 100%;
}

input[type='number'] {
    width: 500px;
    padding: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
}