body {
    background-color: #1F2937;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: whitesmoke;
}

.random {
    color: #4ADF86;
    margin-left: 130px;
}